body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Optional: Change background color */
  background: url('https://images.pexels.com/photos/868097/pexels-photo-868097.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center fixed;
  background-size: cover;
}
.default-container {
  text-align: center;
  padding: 50px;
  margin-top: 60px; /* Adjust this if you have a fixed header */
}

.default-container h1 {
  font-size: 36px;
  color: #030000;
}

.default-container h3 {
  font-size: 25px;
  color: #f7f4f4;
  margin: 20px 0;
}

.indian-flag {
  width: 150px; /* Adjust the width as necessary */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Center the image and add some margin below */
}

.word {
  opacity: 0;
  display: inline-block;
  animation: dropIn 3.8s forwards;
}

@keyframes dropIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h1.text {
  font-size: 3em;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, rgba(230, 34, 8, 0.8), rgba(51, 45, 24, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
}

h1.texting {
  font-size: 2.5em; /* Slightly larger font size */
  color: #3a3b3b; /* White text color */
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Modern font family */
  font-weight: 700; /* Extra bold text */
 
  padding: 20px; /* Increased padding for more space */
  border-radius: 15px; /* More rounded corners */
 

  margin: 20px auto; /* Centering with margin */
}

/* .default-container {
  text-align: center;
  padding: 20px;
} */

.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.gallery-item {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(212, 24, 24, 0.2);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 50px;
  margin-top: 20px;
  text-align: center;
  /* display: flex; */
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer a {
  color: #f7f4f4;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.btn {
  background-color: #ff7f50; /* Coral color */
  color: white;
  padding: 10px 20px; /* Reduced padding */
  font-size: 16px; /* Smaller font size */
  font-weight: bold;
  border: none;
  border-radius: 15px; /* Adjusted border radius */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Adjusted shadow */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #f3eae7; /* Orange Red color */
  transform: translateY(-2px);
}

.btn:active {
  background-color: #ff6347; /* Tomato color */
  transform: translateY(2px);
}
